@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
    overflow-x: hidden !important;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    /* max-width: 1500px; */
    font-family: 'Raleway', sans-serif;
    font-weight: 500 !important;
    scroll-behavior: smooth;
    background-color: #E3E3E3;
}

.body-overflow {
    overflow: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}

 ::-webkit-scrollbar {
    width: 8px;
    height: 15px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 5px 0px 9px grey;
    height: 15px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #767676;
    border-radius: 5px;
}

.nav-bar {
    padding-bottom: 60px;
}

.navigation {
    height: 70px;
    position: fixed;
    width: 100vw;
    top: 40px;
    padding-bottom: 80px;
    z-index: 100;
}

.nav-container {
    max-width: 1500px;
    margin: 0 auto;
}

.brand {
    position: absolute;
    padding-left: 10px;
    z-index: 100;
    float: left;
    text-transform: uppercase;
}

.brand a {
    color: black;
    text-decoration: none;
}

.logo-img {
    width: 140px;
    position: relative;
    left: 43px;
    bottom: 20px;
}

.nav-colored {
    animation: change-nav-color 1s ease forwards !important;
    top: 0px !important;
    height: 80px;
    padding-top: 20px;
}

.nav-switched-colors {
    color: blanchedalmond !important;
}

@keyframes change-nav-color {
    from {
        top: 40px;
    }
    to {
        top: 0px;
        background-color: #bbbbbb;
    }
}

.nav-transparent {
    animation: all 1s ease forwards !important;
    background-color: transparent;
}


/* bottom: -18px; */

nav {
    /*   float: left; */
    /*   position:absolute; */
    margin-left: 18%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    /*   position: relative; */
}

nav ul li a,
nav ul li a:visited {
    display: inline-block;
    padding: 0 20px;
    line-height: 70px;
    font-weight: 500;
    color: #027C53;
    text-decoration: none;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
}

.join-link:hover::after,
.contact-link:hover::after,
.about-link:hover::after,
.events-link:hover::after,
.blog-link:hover::after {
    border-radius: 9px;
    position: relative;
    display: block;
    content: "";
    height: 2px;
    background-color: #027C53;
    width: 4px;
    bottom: 20px;
    animation: underline-animation 500ms ease-in-out alternate forwards;
}


/* nav ul li a:hover::after {
    border-radius: 9px;
    position: relative;
    display: block;
    content: "";
    height: 2px;
    background-color: #027C53;
    width: 4px;
    bottom: 20px;
    animation: underline-animation 500ms ease-in-out alternate forwards;
} */

@keyframes underline-animation {
    from {
        width: 5px;
    }
    to {
        width: 60px;
    }
}

.talk-btn {
    padding: 6px 14px;
    letter-spacing: 2.3px;
    font-weight: bold;
    font-size: 1rem;
    border-width: 0.1px;
    background: none;
    cursor: pointer;
    color: #fff;
    border-radius: 2px;
    border-style: initial;
    position: absolute;
    margin-right: 0px;
    right: 14%;
    background-color: #B40D0D;
    margin-top: 14px;
    transition: all 0.7s ease-in-out;
}

.donate-btn {
    padding: 6px 9px;
    letter-spacing: 2.3px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border-width: 0.1px;
    background: none;
    color: #fff;
    border-radius: 2px;
    border-style: initial;
    position: absolute;
    margin-right: 0px;
    right: 4%;
    background-color: #B40D0D;
    margin-top: 14px;
    transition: all 0.7s ease-in-out;
}

.nav-talk-btn {
    display: none;
}

.nav-donate-btn {
    display: none;
}

@media (max-width:1030px) {
    nav ul li a {
        font-size: 1rem;
    }
    .talk-btn,
    .donate-btn {
        padding: 5px 7px;
        font-size: 0.8rem;
        letter-spacing: 1px;
        margin-top: 20px;
    }
}

@media (max-width:945px) {
    .donate-btn {
        right: 0.5%;
    }
    .talk-btn {
        right: 10%;
    }
}

@media (max-width:945px) {
    .donate-btn {
        right: 0.5%;
    }
    .talk-btn {
        right: 10%;
    }
}


/* Mobile navigation */

.nav-mobile {
    display: none;
    position: absolute;
    top: -15px;
    right: 91px;
    /* height: 70px; */
    /* width: 70px; */
    z-index: 100;
}


/* 
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 43px;
    height: 70px;
    width: 70px;
    z-index: 100;
} */

@media only screen and (max-width: 835px) {
    .nav-mobile {
        display: block;
        /* top: 21px; */
    }
    .talk-btn {
        display: none;
    }
    .donate-btn {
        display: none;
    }
    nav {
        padding-top: 60px;
        /* width: 84%; */
        padding: 70px 0 0px;
        /* margin-left: 0% */
        margin-left: -2%;
    }
    nav ul {
        display: none;
        position: relative;
        z-index: 100;
    }
    nav ul li {
        float: none;
        text-align: center;
    }
    /* nav ul li a {
        padding: 15px;
        line-height: 20px;
    } */
    nav ul li a {
        padding: 0px 15px;
        color: white !important;
    }
}

@media (max-width:835px) {
    .nav-talk-btn {
        display: inline-block;
        padding: 6px 14px;
        font-weight: bold;
        background: none;
        cursor: pointer;
        color: #fff;
        border-radius: 2px;
        border-style: initial;
        background-color: #B40D0D;
    }
    .nav-donate-btn {
        display: inline-block;
        margin-top: 30px;
        padding: 6px 9px;
        letter-spacing: 2.3px;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
        border-width: 0.1px;
        background: none;
        color: #fff;
        border-radius: 2px;
        border-style: initial;
        background-color: #B40D0D;
    }
}

@media screen and (min-width: 835px) {
    .nav-list {
        display: block !important;
    }
}

@media (max-width:376px) {
    .logo-img {
        left: 27px;
    }
}


/* margin-left: -5%; */

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #509F84;
    /* #5dac68 */
    position: absolute;
    display: block;
    content: "";
    transition: all 0.5s cubic-bezier(0.29, 0.58, 0.45, 0.73);
}

#nav-toggle span:before {
    top: 0px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(135deg);
}

.scrolled.navigation {
    top: 0px;
    padding-bottom: 15px;
    padding-top: 40px;
}

.navigation.scrolled {
    background: linear-gradient(rgb(30 30 30 / 81%), rgb(32 32 32 / 81%));
    backdrop-filter: blur(4px);
    transition: background-color 300ms linear;
}

.navigation.scrolled #nav-toggle {
    top: 62px;
    color: white;
}

.scrolled.navigation nav ul li a {
    color: white;
}

.scrolled.navigation #nav-toggle span:after,
.scrolled.navigation #nav-toggle span:before {
    background-color: white;
}


/* end nav bar */

.blur-class {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 5;
    background: black;
    filter: blur(1px) opacity(.97);
}

.divs-holder {
    margin-top: 20vh;
    /* margin-bottom: 20px;
    padding-bottom: 200px !important; */
}

.left-div {
    width: 46%;
    position: absolute;
    left: 4%;
}

.career-word {
    font-size: 1.8rem;
    color: #027C53;
    padding-bottom: 10px;
}

.career {
    width: 500px;
    height: 94px;
    margin-bottom: -8px;
    background-color: white;
    box-shadow: 15px 17px 32px -4px rgba(79, 72, 72, 0.75);
    -webkit-box-shadow: 15px 17px 32px -4px rgba(79, 72, 72, 0.75);
    -moz-box-shadow: 15px 17px 32px -4px rgba(79, 72, 72, 0.75);
    border-radius: 12px;
    z-index: 5000;
}

.career1-header,
.career2-header,
.career3-header,
.career4-header {
    font-size: 1.2rem;
    color: #495E58;
    padding-left: 12px;
    padding-top: 9px;
    margin-bottom: -5px;
}

.career1-p,
.career2-p,
.career3-p,
.career4-p {
    padding-left: 12px;
    padding-right: 9px;
    font-weight: 500;
    color: #495E58;
    font-size: 0.75rem;
}

.right-div {
    width: 46%;
    position: absolute;
    right: 4%;
    height: 106%;
    border-radius: 5px;
    padding-left: 20px;
    filter: brightness(0.85);
    background-image: linear-gradient(#FFFFFF, #D1D0D0);
    /* background-color: #767676; */
}

.project-word {
    color: #495E58;
    margin-bottom: -3px;
}

.right-div-first-p,
.right-div-second-p,
.right-div-third-p {
    line-height: 1.5;
    font-size: 0.9rem;
    color: #495E58;
}

.right-div-sub-header {
    color: #495E58;
    margin-bottom: -2px;
    font-size: 1.1rem;
    font-weight: 600;
}

@media (max-width:1385px) {
    .right-div-first-p,
    .right-div-second-p,
    .right-div-third-p {
        line-height: 1.4;
        font-size: 0.9rem;
        color: #495E58;
    }
}

@media (max-width:1307px) {
    .right-div-first-p,
    .right-div-second-p,
    .right-div-third-p {
        line-height: 1.5;
        font-size: 0.82rem;
        color: #495E58;
    }
}

@media (max-width: 1183px) {
    .right-div-first-p,
    .right-div-second-p,
    .right-div-third-p {
        line-height: 1.3;
        padding-right: 20px;
    }
    .career {
        width: 460px;
    }
}

@media (max-width:1050px) {
    .left-div {
        width: 100vw;
        position: relative;
    }
    .right-div {
        padding-top: 10px;
        margin-top: 30px;
        width: 88vw;
        position: relative;
        left: 4%;
    }
    .right-div-first-p,
    .right-div-second-p,
    .right-div-third-p {
        line-height: 1.4;
        font-size: 0.94rem;
        color: #495E58;
    }
}

@media (max-width:740px) {
    .right-div {
        padding-top: 10px;
        height: 100%;
        padding-bottom: 20px;
    }
}

@media (max-width:415px) {
    .career {
        width: 92%;
        height: 100%;
        line-height: 1.2;
        padding-bottom: 5px;
        margin-bottom: 25px;
    }
}

.container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    order: 3;
    justify-content: flex-start;
    /* order: 10; */
}

.form-input {
    /* flex-shrink: 000; */
    flex-basis: 35vmin;
    margin: 0px 20px 20px 0px;
    /* opacity: 0.6; */
    padding: 5px 0px 5px 5px;
    border-radius: 3px;
    border-style: none;
    color: #767676;
}


/* start  footer */

footer {
    height: 20vh;
    width: 100vw;
    /* background-color: #495E58; */
    text-align: center;
    display: flex;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    align-self: center;
    position: absolute;
    bottom: -40%;
    color: #495E58;
    /* height: 20vh;
    width: 100vw;
    text-align: center;
    display: inline-grid;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    align-self: center;
    position: absolute;
    color: #495E58; */
}

.social-icons {
    position: absolute;
    bottom: 38%;
    left: 4%;
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
    color: #495E58;
    margin-right: 30px;
    font-size: 1.6rem;
    display: inline-grid !important;
    align-content: center;
    transition: all 0.5s ease-out;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover {
    color: rgb(185, 147, 147);
}

.our-info {
    position: absolute;
    bottom: 29%;
    display: flex;
    right: 4%;
    bottom: 45%;
    font-size: 0.7rem;
}

.info-text {
    color: #495E58;
    margin-left: 30px;
}

.footer-text-holder {
    font-size: 0.9rem;
    position: absolute;
    right: 45%;
}

.m-eight {
    font-weight: bold;
    font-size: 1.06rem;
    transition: all 0.5s ease-out;
    color: #495E58;
}

.m-eight:hover {
    color: rgb(185, 147, 147);
}

@media (max-width:1050px) {
    footer {
        display: inline-grid;
        position: absolute;
        bottom: auto;
    }
}

@media (max-width:940px) {
    .fa-facebook,
    .fa-instagram,
    .fa-twitter {
        margin-right: 5px;
    }
    .info-text {
        color: #495E58;
        margin-left: 16px;
    }
    .footer-text-holder {
        right: 42%;
    }
}

@media (max-width:700px) {
    .our-info {
        flex-direction: column;
        bottom: 32%;
    }
    .info-text {
        margin-bottom: 8px;
    }
    .footer-text-holder {
        right: 36%;
    }
}

@media (max-width:660px) {
    .fa-facebook,
    .fa-instagram,
    .fa-twitter {
        margin-right: 1px;
        font-size: 1.4rem;
        width: 40px;
        height: 40px;
    }
    .footer-text-holder {
        right: 33%;
    }
}

@media (max-width:500px) {
    .social-icons {
        position: unset;
        padding-top: 20px;
    }
    .footer-text-holder {
        line-height: 0.5;
        position: unset;
        padding-top: 3px;
        padding-bottom: 1px;
    }
    /* footer {
        bottom: 10px;
    } */
    .our-info {
        position: unset;
        display: block;
        flex-direction: row;
        padding-top: 7px;
    }
    .fa-facebook,
    .fa-instagram,
    .fa-twitter {
        margin-right: 10px;
    }
    footer {
        /* position: unset; */
        display: inline-table;
    }
}

@media (max-width:376px) {
    .footer-text-holder {
        padding-top: 0px;
        line-height: 0.4;
    }
    .our-info {
        padding-top: 0px;
    }
}