@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;900&display=swap');
html {
    overflow-x: hidden !important;
}

body {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden !important; */
    /* max-width: 1500px; */
    font-family: 'Raleway', sans-serif;
    font-weight: 500 !important;
    scroll-behavior: smooth;
}

.body-overflow {
    overflow: hidden;
}

a {
    text-decoration: none;
    cursor: pointer !important;
    outline: none;
}

 ::-webkit-scrollbar {
    width: 10px;
    height: 15px;
}

.shadow {
    width: 100vw;
    height: 0px;
    position: absolute;
    bottom: 7%;
    box-shadow: 1px 0px 63px 5px rgb(121 188 37);
    -webkit-box-shadow: 0px 52px 20px 18px #016141;
    -moz-box-shadow: 1px 0px 63px 5px rgba(121, 188, 37, 1);
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 5px 0px 9px grey;
    height: 15px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    /* background: #027C53; */
    background: #767676;
    border-radius: 5px;
}

.about-section {
    height: 100vh;
    /* width: 100vw; */
    max-width: 1500px;
}

.navigation {
    height: 70px;
    position: fixed;
    top: 40px;
    width: 100vw;
    z-index: 10000;
    /* position: initial; */
    /* margin-top: 40px; */
}

.nav-container {
    max-width: 1500px;
    margin: 0 auto;
}

.brand {
    position: absolute;
    padding-left: 10px;
    z-index: 100;
    float: left;
    text-transform: uppercase;
}

.brand a {
    color: black;
    text-decoration: none;
}

.logo-img {
    width: 140px;
    position: relative;
    left: 25px;
    bottom: 13px;
}

.nav-colored {
    animation: change-nav-color 0.7s ease forwards !important;
    top: 0px !important;
    height: 80px;
    padding-top: 20px;
}

.nav-switched-colors {
    color: white !important;
}

@keyframes change-nav-color {
    from {
        top: 40px;
    }
    to {
        top: 0px;
        background-color: #bbbbbb;
    }
}

.nav-transparent {
    animation: all 1s ease forwards !important;
    background-color: transparent;
}


/* bottom: -18px; */

nav {
    /*   float: left; */
    /*   position:absolute; */
    margin-left: 18%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    /*   position: relative; */
}

nav ul li a,
nav ul li a:visited {
    display: inline-block;
    padding: 0 27px;
    LETTER-SPACING: 1.2px;
    line-height: 70px;
    font-weight: 500;
    /* color: white; */
    color: #027c53;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.join-link:hover::after,
.contact-link:hover::after,
.about-link:hover::after,
.events-link:hover::after,
.blog-link:hover::after {
    border-radius: 9px;
    position: relative;
    display: block;
    content: "";
    height: 2px;
    background-color: #027C53;
    width: 4px;
    bottom: 20px;
    animation: underline-animation 500ms ease-in-out alternate forwards;
}


/* nav ul li a:hover::after {
    border-radius: 9px;
    position: relative;
    display: block;
    content: "";
    height: 2px;
    background-color: #027C53;
    width: 4px;
    bottom: 20px;
    animation: underline-animation 500ms ease-in-out alternate forwards;
} */

@keyframes underline-animation {
    from {
        width: 5px;
    }
    to {
        width: 60px;
    }
}


/* 
nav-ul li a::after {
    height: 1px;
    color: black;
    width: 05px;
} */

.talk-btn {
    padding: 6px 14px;
    letter-spacing: 2.3px;
    font-weight: bold;
    font-size: 1rem;
    border-width: 0.1px;
    background: none;
    cursor: pointer;
    color: #fff;
    border-radius: 2px;
    border-style: initial;
    position: absolute;
    margin-right: 0px;
    right: 14%;
    background-color: #B40D0D;
    margin-top: 14px;
    transition: all 0.7s ease-in-out;
}

.donate-btn {
    padding: 6px 9px;
    letter-spacing: 2.3px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border-width: 0.1px;
    background: none;
    color: #fff;
    border-radius: 2px;
    border-style: initial;
    position: absolute;
    margin-right: 0px;
    right: 4%;
    background-color: #B40D0D;
    margin-top: 14px;
    transition: all 0.7s ease-in-out;
}

.nav-talk-btn {
    display: none;
}

.nav-donate-btn {
    display: none;
}

@media (max-width:1030px) {
    nav ul li a {
        font-size: 1rem;
    }
    .talk-btn,
    .donate-btn {
        padding: 5px 7px;
        font-size: 0.8rem;
        letter-spacing: 1px;
        margin-top: 20px;
    }
}

@media (max-width:945px) {
    .donate-btn {
        right: 0.5%;
    }
    .talk-btn {
        right: 10%;
    }
}

@media (max-width:945px) {
    .donate-btn {
        right: 0.5%;
    }
    .talk-btn {
        right: 10%;
    }
}


/* Mobile navigation */

.nav-mobile {
    display: none;
    position: absolute;
    top: -15px;
    right: 91px;
    /* height: 70px; */
    /* width: 70px; */
    z-index: 100;
}


/* .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 43px;
    height: 70px;
    width: 70px;
    z-index: 100;
} */


/* filter: blur(1px) brightness(0.049); */

@media only screen and (max-width: 835px) {
    .nav-mobile {
        display: block;
    }
    .talk-btn {
        display: none;
    }
    .donate-btn {
        display: none;
    }
    nav {
        padding-top: 60px;
        padding: 70px 0 0px;
        margin-left: -10%;
    }
    nav ul {
        display: none;
        z-index: 100;
    }
    nav ul li {
        float: none;
        text-align: center;
    }
    nav ul li a {
        padding: 15px 15px;
        color: white !important;
    }
}

@media (max-width:835px) {
    .nav-talk-btn {
        display: inline-block;
        padding: 6px 14px;
        font-weight: bold;
        background: none;
        cursor: pointer;
        color: #fff;
        border-radius: 2px;
        border-style: initial;
        background-color: red;
    }
    .nav-donate-btn {
        display: inline-block;
        margin-top: 30px;
        padding: 6px 9px;
        letter-spacing: 2.3px;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
        border-width: 0.1px;
        background: none;
        color: #fff;
        border-radius: 2px;
        border-style: initial;
        background-color: red;
    }
}

@media screen and (min-width: 835px) {
    .nav-list {
        display: block !important;
    }
}

.get-involved-btn {
    position: absolute;
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 33px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: "";
    transition: all 0.5s cubic-bezier(0.29, 0.58, 0.45, 0.73);
}

#nav-toggle span:before {
    top: 0px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(135deg);
}

.scrolled.navigation {
    top: 0px;
    padding-bottom: 15px;
    padding-top: 40px;
}

.navigation.scrolled {
    background: linear-gradient(rgb(30 30 30 / 81%), rgb(32 32 32 / 81%));
    backdrop-filter: blur(4px);
    transition: background-color 300ms linear;
}

.navigation.scrolled #nav-toggle {
    top: 71px;
    color: white;
}

.scrolled.navigation nav ul li a {
    color: white;
}

.scrolled.navigation #nav-toggle span:after,
.scrolled.navigation #nav-toggle span:before {
    background-color: white;
}

.blur-class {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 5;
    background: black;
    filter: blur(1px) opacity(.97);
}

.img-bg {
    position: absolute;
    right: 0%;
    top: 0%;
    filter: brightness(0.27);
    background-image: url("../images/women-group.jpeg");
    /* background-size: cover; */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: -11111;
    /* width: 40vw;
    background-size: 40vw 100vh; */
    width: 44vw;
    background-size: 62vw 100vh;
}

.sticky-words-on-left {
    position: absolute;
    bottom: 12%;
    left: 0%;
    transform: rotate(90deg);
    text-align: center;
    line-height: 0;
}

.iraq-word {
    letter-spacing: 7px;
    font-weight: 400;
    font-size: 4rem;
    color: #188126;
}

.iraq-word-2 {
    letter-spacing: 4.3px;
    font-weight: 400;
    font-size: 0.8rem;
    color: #E2A1A1;
    opacity: 1;
}

.about-text-holder {
    position: absolute;
    z-index: 0 !important;
    top: 27%;
    left: 19%;
    width: 38%;
    line-height: 1.8;
}

.about-header {
    color: #027C53;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 2px;
}

.about-p {
    width: 80%;
    font-size: 1.1rem;
    color: #027C53;
    letter-spacing: 1.1px;
}

.get-btn {
    background-color: red;
    color: white;
    padding: 7px 12px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    margin-right: 0.2px;
    border: none;
    cursor: pointer;
    border-radius: 3px 0px 0px 3px;
}

.involved-btn {
    cursor: pointer;
    background-color: white;
    color: red;
    padding: 7px 17px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    border: none;
    border-radius: 0px 3px 3px 0px;
    transition: all 0.5s ease-out;
}

.blog-card-link {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 10px;
    color: white !important;
    width: 115px;
    padding-left: 6px;
    backdrop-filter: blur(15px) brightness(0.8);
}

.involved-btn:hover {
    color: red;
    padding: 7px 17px;
    font-size: 1rem;
    margin-right: 3px;
    margin-left: 3px;
    transform: scale(1.07);
    letter-spacing: 1px;
    font-weight: 600;
}

@media (max-width:1200px) {
    .about-text-holder {
        top: 20%;
        left: 17%;
        width: 40%;
    }
    .sticky-words-on-left {
        bottom: 9%;
    }
    .iraq-word {
        letter-spacing: 6px;
        font-weight: 400;
        font-size: 3rem;
    }
    .iraq-word-2 {
        letter-spacing: 3.3px;
        font-weight: 400;
        font-size: 0.6rem;
    }
}

@media (max-width: 965px) {
    .about-text-holder {
        top: 18%;
        left: 15%;
        width: 44%;
    }
    .sticky-words-on-left {
        bottom: 6%;
    }
    .iraq-word {
        letter-spacing: 5px;
        font-weight: 400;
        font-size: 2.5rem;
    }
    .iraq-word-2 {
        letter-spacing: 3.0px;
        font-size: 0.5rem;
    }
}

@media (max-width:876px) {
    .about-header {
        font-size: 2.5rem;
        font-weight: 900;
        letter-spacing: 1.5px;
    }
    nav ul {
        position: relative;
        left: 30px;
    }
    nav ul li a {
        padding: 0 15px;
    }
}

@media (max-width: 800px) {
    .img-bg {
        width: 100vw;
        background-size: cover;
    }
    .about-text-holder {
        top: 25%;
        left: 17%;
        width: 70%;
    }
    .about-header {
        color: white;
        font-size: 2.6rem;
    }
    .about-p {
        color: #b3b3b3;
    }
    /* .logo-img {
        bottom: 0;
    } */
}

@media (max-width:670px) {
    .about-text-holder {
        line-height: 1.4;
        left: 9%;
    }
    .about-header {
        font-size: 2.6rem;
    }
    .logo-img {
        left: 0px;
    }
}

@media (max-width:530px) {
    .about-text-holder {
        top: 23%;
        left: 17%;
        width: 75%;
    }
}

.blog-text-holder {
    position: absolute;
    left: 3%;
    margin-bottom: 14%;
    color: white;
    width: 30%;
    color: white;
}

.blog-header {
    font-size: 3rem;
    font-weight: 600;
}

.blog-sub-header {
    font-size: 1.5rem;
    font-weight: 500;
    width: 400px;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

:root {
    --background-dark: #2d3548;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}

.hero-section {
    align-items: center;
    background-image: url('../images/green-bg.jfif');
    display: flex;
    min-height: 100%;
    justify-content: center;
    width: 100vw;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 60%;
    position: absolute;
    right: 3%;
}

@media(min-width: 540px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 960px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.blog-card {
    list-style: none;
    position: relative;
}

.blog-card:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card__background {
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;
}

.blog-card:hover .card__background {
    transform: scale(1.05) translateZ(0);
}

.card-grid:hover>.blog-card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

.card__category {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.card__heading {
    color: var(--text-lighter);
    font-size: 1.5rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.3;
}

@media (max-width:1235px) {
    .card__heading {
        font-size: 1.3rem;
    }
    .card__category {
        font-size: 0.7rem;
    }
    .blog-sub-header {
        font-size: 1.5rem;
        font-weight: 500;
        width: 300px;
    }
    .blog-text-holder {
        position: absolute;
        left: 3%;
        margin-bottom: 7%;
    }
}

@media (max-width:1100px) {
    .card__heading {
        font-size: 1.2rem;
    }
}

@media (max-width:1050px) {
    .card__heading {
        font-size: 1.0rem;
    }
    .card__category {
        font-size: 0.6rem;
    }
}

@media (max-width:1000px) {
    .hero-section {
        align-items: unset;
    }
    .card-grid {
        display: grid;
        width: 75%;
        margin-top: 33%;
        right: unset;
    }
    .card__heading {
        font-size: 1.2rem;
    }
    .card__category {
        font-size: 0.8rem;
    }
    .blog-text-holder {
        width: 45%;
    }
    .blog-sub-header {
        font-size: 1.5rem;
        font-weight: 500;
        width: 380px;
    }
}

@media (max-width:930px) {
    .card-grid {
        margin-top: 40%;
        width: 82%;
    }
}

@media (min-width: 880px) and (max-width: 929px) {
    .card-grid {
        margin-top: 35%;
        width: 80%;
    }
}

@media (max-width:810px) {
    .card-grid {
        margin-top: 45%;
    }
}

@media (max-width:735px) {
    .card-grid {
        margin-top: 53%;
    }
}

@media (max-width:719px) {
    .card__heading {
        word-spacing: 4px;
        font-size: 1.1rem;
    }
}

@media (max-width:650px) {
    .card-grid {
        margin-top: 58%;
    }
    .blog-text-holder {
        width: 62%;
    }
}

@media (min-width:600px) {
    .card__content {
        left: -4%;
        top: -4%;
    }
}

@media (max-width:600px) {
    .card-grid {
        margin-top: 66%;
        width: 94%;
    }
    .card__content {
        left: -12px;
        top: -21px;
    }
}

@media (max-width: 540px) {
    .blog-card {
        width: 100%;
    }
    .card-grid .blog-card {
        margin-left: 0%;
    }
}

@media (max-width:540px) {
    .blog-card {
        width: 65%;
        height: 80%;
    }
    .card-grid {
        position: unset;
    }
    .card-grid .blog-card {
        margin-left: 15%;
    }
}

@media (max-width:415px) {
    .card-grid {
        margin-top: 100%;
    }
}


/* OUR WHY */

.our-why-section {
    /* padding: 0% 4%; */
    height: 100vh;
    width: 100vw;
    background-color: #EAEAEA;
    overflow-x: hidden !important;
    position: relative;
    display: flex;
}

.our-why-div {
    /* padding-right: 120px; */
    width: 26vw;
    margin-top: 5%;
    padding-left: 3%;
    padding-right: 4%;
}


/* .our-why-div::after {
    content: " ";
    height: 50vh;
    margin-right: -20px;
    margin-top: -240px;
    width: 2px;
    background-color: black;
    float: right;
} */

.our-why-word {
    padding-bottom: 10%;
    color: #495E58;
    letter-spacing: 1.1px;
    font-weight: 400;
}

.our-why-first-header,
.our-why-second-header,
.our-why-third-header {
    color: #495E58;
    font-weight: bolder;
    font-size: 2.5rem;
    padding-bottom: 10%;
}

.our-why-first-p,
.our-why-second-p,
.our-why-third-p {
    color: #495E58;
    font-size: 1.2rem;
    line-height: 1.7;
    float: left;
}

@media ( max-width:1520px) {
    .our-why-first-header,
    .our-why-second-header,
    .our-why-third-header {
        font-size: 2rem;
    }
    .our-why-div {
        padding-right: 80px;
        width: 30vw;
    }
}

@media (max-width: 1285px) {
    .our-why-div {
        padding-right: 40px;
    }
}

@media (max-width:1240px) {
    .our-why-first-p,
    .our-why-second-p,
    .our-why-third-p {
        color: #495E58;
        font-size: 1.1rem;
    }
    .our-why-first-header,
    .our-why-second-header,
    .our-why-third-header {
        font-size: 1.8rem;
    }
}

@media (max-width:1137px) {
    /* .our-why-div {
        padding-right: 70px;
    } */
    .our-why-first-p,
    .our-why-second-p,
    .our-why-third-p {
        font-size: 1.0rem;
        line-height: 2;
    }
    .our-why-first-header,
    .our-why-second-header,
    .our-why-third-header {
        font-size: 1.7rem;
    }
}

@media (max-width:1000px) {
    .our-why-first-header,
    .our-why-second-header,
    .our-why-third-header {
        font-size: 1.6rem;
    }
}

@media (max-width:953px) {
    .our-why-first-header,
    .our-why-second-header,
    .our-why-third-header {
        font-size: 1.4rem;
    }
    .our-why-first-p,
    .our-why-second-p,
    .our-why-third-p {
        font-size: 0.9rem;
        line-height: 2.1;
    }
}

@media (max-width:860px) {
    .our-why-first-header,
    .our-why-second-header,
    .our-why-third-header {
        font-size: 1.3rem;
    }
    /* .our-why-div {
        padding-right: 65px;
    } */
}

@media (max-width:800px) {
    .our-why-section {
        flex-direction: column;
        height: 135vh;
        overflow-x: hidden !important;
    }
    .our-why-div {
        width: 85vw;
        margin-top: 3.5%;
    }
    .our-why-first-header,
    .our-why-second-header,
    .our-why-third-header {
        font-size: 1.8rem;
    }
    .our-why-first-p,
    .our-why-second-p,
    .our-why-third-p {
        font-size: 1rem;
        line-height: 2.0;
    }
    .our-why-word {
        padding-bottom: 0%;
    }
    .our-why-first-header,
    .our-why-second-header,
    .our-why-third-header {
        font-size: 2.2rem;
        padding-bottom: 0%;
    }
}

@media (max-width:530px) {
    .our-why-section {
        height: 145vh;
        overflow-x: hidden !important;
    }
    .sticky-words-on-left {
        display: none;
    }
}

@media (max-width:376px) {
    .our-why-section {
        /* height: 170vh; */
        height: 160vh;
        overflow-x: hidden !important;
    }
}


/* join form section  */

.join-form-section {
    background-image: url("../images/join-movement.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100vw;
}

.join-form-header {
    font-size: 1.7rem;
    display: inline-block;
    color: #495E58;
    position: relative;
    top: 8%;
    left: 3.4%;
}

.join-form {
    display: table-caption;
    position: relative;
    margin-top: 24%;
    left: 15.5%;
}

.form-input {
    margin-top: 25px;
    position: relative;
    right: 4%;
    width: 450px;
    height: 35px;
    letter-spacing: 2px;
    border-width: 1px;
    padding-left: 10px;
    outline: none;
}

.join-us-btn-2 {
    margin-top: 30px;
    background-color: #495E58;
    color: #E5E5E5;
    border: none;
    cursor: pointer;
    padding: 8px 13px;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 1px;
    letter-spacing: 1.5px;
    margin-right: 15px;
    margin-left: 70px;
}

.donate-btn-2 {
    margin-top: 30px;
    background-color: #495E58;
    color: #E5E5E5;
    border: none;
    cursor: pointer;
    padding: 8px 13px;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 1px;
    letter-spacing: 1.5px;
    margin-right: 15px;
}

.heart-btn-2 {
    margin-top: 30px;
    position: absolute;
    background-color: #E5E5E5;
    color: #495E58;
    border: none;
    padding: 5px 10px;
    font-size: 1.5rem;
    border-radius: 1px;
}

@media (max-width:1300px) {
    .join-form {
        left: 13%;
    }
    .join-form-header {
        /* width: 500px; */
        line-height: 1.5;
    }
}

@media (max-width: 900px) {
    .join-form {
        left: 10%;
    }
}

@media (max-width: 700px) {
    .join-form {
        left: 8%;
    }
}

@media (max-width: 500px) {
    .join-form {
        left: 9%;
    }
    .form-input {
        width: 380px;
    }
    .join-us-btn-2 {
        margin-left: 40px;
    }
}

@media(max-width:415px) {
    .join-form-header {
        width: 300px;
        line-height: 1.3;
    }
    .blog-sub-header {
        width: 360px;
    }
}

@media (max-width: 380px) {
    .join-form {
        left: 7%;
    }
    .form-input {
        width: 350px;
    }
    .join-us-btn-2 {
        margin-left: 20px;
    }
}

footer {
    height: 25vh;
    width: 100vw;
    background-color: #495E58;
    text-align: center;
    position: absolute;
    display: flex;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    align-self: center;
    color: #E5E5E5;
}

.social-icons {
    /* position: relative; 
    top: 35%;
    right: 43.8%; */
    position: absolute;
    bottom: 38%;
    left: 4%;
}


/* .fab {
    display: inline-grid;
} */

.fa-facebook,
.fa-instagram,
.fa-twitter {
    color: #E5E5E5;
    margin-right: 30px;
    font-size: 1.6rem;
    display: inline-grid !important;
    align-content: center;
    transition: all 1s ease-out;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover {
    color: #3c3434;
}

.our-info {
    position: absolute;
    bottom: 29%;
    display: flex;
    /* flex-direction: column; */
    right: 4%;
    bottom: 45%;
    font-size: 0.7rem;
}

.info-text {
    color: #E5E5E5;
    /* padding-top: 20px; */
    margin-left: 30px;
}

.footer-text-holder {
    font-size: 0.9rem;
    /* margin-top: -25px; */
    position: absolute;
    right: 45%;
}

.m-eight {
    font-weight: bold;
    font-size: 1.06rem;
    transition: all 1s ease-out;
    color: #E5E5E5;
}

.m-eight:hover {
    color: #3c3434;
}

@media (max-width:940px) {
    .fa-facebook,
    .fa-instagram,
    .fa-twitter {
        margin-right: 5px;
    }
    .info-text {
        color: #E5E5E5;
        margin-left: 16px;
    }
    .footer-text-holder {
        right: 42%;
    }
}

@media (max-width:700px) {
    .our-info {
        flex-direction: column;
        bottom: 32%;
    }
    .info-text {
        margin-bottom: 8px;
    }
    .footer-text-holder {
        right: 36%;
    }
}

@media (max-width:660px) {
    .fa-facebook,
    .fa-instagram,
    .fa-twitter {
        margin-right: 1px;
        font-size: 1.4rem;
        width: 40px;
        height: 40px;
    }
    .footer-text-holder {
        right: 33%;
    }
}

@media (max-width:500px) {
    .social-icons {
        position: unset;
        padding-top: 20px;
    }
    .footer-text-holder {
        line-height: 0.7;
        position: unset;
        padding-top: 15px;
    }
    .our-info {
        position: unset;
        display: block;
        flex-direction: row;
        padding-top: 20px;
    }
    .fa-facebook,
    .fa-instagram,
    .fa-twitter {
        margin-right: 10px;
    }
    footer {
        position: unset;
        display: inline-table;
        padding-bottom: 25px;
    }
}

@media (max-width: 500px) {
    footer {
        padding-bottom: 8px;
    }
}